* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Arial', sans-serif;
   
}
img{
 width: 60px;
 height:40px;
 border-radius: 80%
}
.instagramContainer {

}

.instagram-header{
  
}

.carousel-images{
display: flex-wrap; 
}

.lower_header{

}

.center_stage{

}

.footer{

}

.footer-icons{
    
}